<div id="search">
    <div class="search-container">
        <div class="search-box">
            <form ng-submit="searchMovie()">
                <div class="form-group">
                    <div class="input-group">
                        <input required type="text" ng-model="movieTitle" class="form-control" placeholder="Title">
                        <span class="input-group-addon" ng-click="searchMovie()">
                            <i class="zmdi zmdi-search"></i> </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>